.posts__container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 45px;
  margin-left:  15vh;


}



.posts__category {
  margin:  100px;
}


/* media queries */


@media(max-width: 480px) {
  .posts__container {
    display: grid;
    margin:40px;
    grid-template-columns: 1fr;

  }
}


